.rules{
  font-family: 'Paytone One', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
  color: #E55812;
}

.flower{
  height: 15rem;
}